body {
 font-family: Arial, sans-serif;
 margin: 0;
 padding: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 background-color: #f0f0f0;
}

.calculator {
 background-color: #fff;
 border-radius: 10px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 padding: 20px;
}

.display {
 font-size: 23px;
 background-color: #f7f7f7;
 border: 1px solid #604c4c;
 border-radius: 5px;
 padding: 10px;
 margin-bottom: 10px;
 text-align: right;
}

.buttons {
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 grid-gap: 10px;
}

button {
 font-size: 17px;
 padding: 10px;
 border: none;
 border-radius: 5px;
 background-color: #eee;
 cursor: pointer;
}

button:hover {
 background-color: #ddd;
}
